.frame {
  background-color: rgb(10, 10, 150);
  border-radius: 10px;
  margin: 5px;
  color: white;
  /* width: 70%; */
  flex-grow: 1;
  min-width: 190px;
  text-align: center;
}
.frame h3 {
  font-size: 18px;
}
.frame img {
  width: 100px;
}

@media screen and (max-width: 530px) {
  .frame {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 440px) {
  .frame h3 {
    font-size: 15px;
  }
  .frame img {
    width: 85px;
  }
}