.card {
  width: 400px;
  margin: 25px auto 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card:first-of-type {
  justify-content: space-evenly;
  text-align: center;
}
.card span {
  margin-right: 8px;
}
.card select {
  background-color: rgb(249, 249, 249);
  padding: 3px 7px;
  margin-right: 7px;
  border-radius: 5px;
}

.card:nth-child(3) {
  margin-top: -20px;
}

.card button {
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.card input {
  border-radius: 5px;
  border: 1px solid #aaa;
  width: 70%;
  height: 53%;
}

.types-btn {
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(84, 178, 236, 0.966);
  padding: 5px 10px;
  position: absolute;
  top: 90px;
  right: 5%;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 1px 1px 3.5px rgb(0, 0, 0);
}

@media screen and (max-width: 650px) {
  .card {
    width: 80%;
  }
  .card:first-of-type {
    width: 60%;
    position: relative;
    right: 50px;
  }
  .types-btn {
    right: 75px;
    top: 105px;
  }
}

@media screen and (max-width: 510px) {
  .card:first-of-type {
    width: 80%;
    right: 0;
    margin-top: 70px;
  }
  .types-btn {
    width: 40%;
    top: 90px;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    padding: 6px 0;
  }
}