.suggestion {
  background-color: white;
  border: 1.7px solid #eee;
  height: 24px;
  width: 70%;
  padding: 3px 0;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13.5px;
  text-align: start;
  z-index: 2;
}
.suggestion:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
}